<!Doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title></title>	
</head>
<body>
	<div>这是一个ejs模板</div>
	<div><%= msg %></div>

	

	<form action='/doLogin' method='post'>
		<input type="text" name="username" />
		<input type="password" name="password" />
		<input type="submit" value='提交' />
	</form>	

</body>
</html>